<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                 http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                 http://www.springframework.org/schema/security
                 http://www.springframework.org/schema/security/spring-security-3.2.xsd">

       <beans:import resource="hibernate-context.xml"/>

       <http auto-config="true" access-denied-page="/">
              <form-login login-page="/login.jsp" authentication-failure-url="/login.jsp?error=true"
                          always-use-default-target="false"/>
              <logout logout-url="/logout" delete-cookies="JSESSIONID" logout-success-url="/servlet"/>
              <anonymous username="guest" granted-authority="ROLE_ANONYMOUS"/>
              <!-- enable remember me -->
              <remember-me
                      token-validity-seconds="1209600"
                      data-source-ref="dataSource"
                      user-service-ref="userDetailsServiceImpl"/>
       </http>

       <global-method-security secured-annotations="enabled" />

       <authentication-manager>
              <authentication-provider user-service-ref="userDetailsServiceImpl">
                     <password-encoder hash="md5" />
              </authentication-provider>
       </authentication-manager>

       <beans:bean id="userDetailsServiceImpl" class="ua.goit.kickstarter.service.UserDetailsServiceImpl"/>

       <beans:bean id="webSecurityExpressionHandler" class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" />

</beans:beans>

